.page-header
  %h1= page.titlecase

%form.well.form-search{action: relative_uri('submit'), method: 'get'}
  %input.input-medium.search-query{name: 'tag_set', type: 'text', placeholder: 'comma separated tags'}
  %button.btn{type: 'submit'}
    Query

- if defined? tag_sets and not tag_sets.empty?
  .alert.alert-info
    Quering for:
    - tag_sets.each_with_index do |tag_set, no|
      %strong= tag_set
      - if no + 1 < tag_sets.length
        end

  - tag_sets.each_with_index do |tag_set, no|
    :javascript
      var es = new EventSource('#{root_uri}/feed/query/#{tag_set}');

      es.addEventListener('open', function (event) {
        var div = document.createElement('div');
        div.innerHTML = 'opened: ' + es.url;
        document.body.appendChild(div);
      }, false);

      es.addEventListener('message', function (event) {
        document.body.appendChild(document.createTextNode(event.data));
      }, false);

      es.addEventListener('error', function (event) {
        var div = document.createElement('div');
        div.innerHTML = 'closed';
        document.body.appendChild(div);
      }, false);

